* {
  padding: 0;
  margin: 0;
}

#main {
    text-align: center;
    margin-top: 200px;
}
#logo-subtext {
  position: relative;
  left: -55px;
  top: -5px;
  color: #4285f4;
  font: 16px arial, sans-serif;
}
#search-form {
  margin-top: 30px;
}
#search-input {
  height: 35px;
  width: 465px;
  outline: none;
  border: .5px solid #ddd;
  box-shadow: 2px 2px 4px .5px rgba(0, 0, 0, 0.16);
  padding: 2px 5px 2px 16px;
  border-radius: 2px;
  position: relative;
  left: -25px;
}
