* {
  padding: 0;
  margin: 0;
}

#main {
    text-align: center;
    margin-top: 200px;
}
#logo-subtext {
  position: relative;
  left: -55px;
  top: -5px;
  color: #4285f4;
  font: 16px arial, sans-serif;
}
#search-form {
  width: 40%;
  margin: 20px auto;
  box-shadow: 2px 2px 4px .5px rgba(0, 0, 0, 0.16);
  border: .5px solid #ddd;
}
#search-input {
  line-height: 40px;
  width: 85%;
  outline: none;
  border: none;
  font-size: 1.3em;
}
#buttons-area {
  width: 40%;
  margin: auto;
}
.main-button {
  margin: auto 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: arial, sans-serif;
  border-style: none;
  font-weight: bold;
  color: #222235;
}
