* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main {
    text-align: center;
    margin-top: 200px;
}
#main-logo {
  padding-left: 50px;
}
#logo-subtext {
  position: relative;
  left: -55px;
  top: -5px;
  color: #4285f4;
  font: 16px arial, sans-serif;
}
#search-form {
  width: 40%;
  margin: 20px auto;
  box-shadow: 2px 2px 4px .5px rgba(0, 0, 0, 0.16);
  border: .5px solid #ddd;
}
#search-input {
  line-height: 40px;
  width: 85%;
  outline: none;
  border: none;
  font-size: 1.3em;
}
#buttons-area {
  width: 40%;
  margin: auto;
}
.main-button {
  margin: auto 10px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 14px;
  border-style: none;
  font-weight: bold;
  color: #757575;
}
#g-microphone img {
  vertical-align: middle;
}
/* Header */
#header {
  font-size: 0.9em;
  line-height: 10px;
  position: relative;
  top: 10px;
}
/* Footer */
.nav-bar {
  background-color: #F2F2F2;
}
#footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  line-height: 10px;
  border-top: 1px solid #e4e4e4;
}

/* Navigation bar style */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.nav-left {
  float: left;
}
nav.nav-right {
  float: right;
}
nav li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
}
.clear {
  clear: both;
}

#google-apps {
  background: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-position: -132px -38px;
  vertical-align: middle;
}
#notification {
  background: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-position: -210px 5px;
  background-size: 528px 68px;
}
#profile {
  padding-top: 0;
}
span#profile-pic {
  display: block;
  border-radius: 50%;
  background-image: url('https://lh3.googleusercontent.com/-kDm59KfTh_Q/AAAAAAAAAAI/AAAAAAAAAAA/AHalGhqgG4yfAuGbh_952ODTTJECELcBfw/s32-c-mo/photo.jpg');
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
}
#g-offers {
  position: relative;
  top: 20px;
}
#g-offers p {
  font-size: 0.8em;
}
